.context-enter-active {
    animation-duration: 0.3s;
    animation-name: grow;
}

.menu-header {
    padding: 8px;
    display: flex;
    flex-direction: row
}
      
@keyframes grow {
    from {
        transform: scale(0,0);
        opacity: 0.1;
        transform-origin: top left;

    }
          
    to {
        transform: scale(1,1);
       transform-origin: top left;
        opacity: 1;
    }
}

.btn-program {
    border: none;
    background: linear-gradient(276deg, rgba(85,85,85,1) 3%, rgba(16,16,16,1) 100%, rgba(65,65,65,1) 100%);
    color: white;
    width: 100%;
    padding: 12px;
    cursor: pointer;
}

.btn-program:hover {
    background: linear-gradient(276deg, rgba(85,85,85,1) 3%, rgba(0,0,0,1) 100%, rgba(65,65,65,1) 100%);
    font-weight: bold;
}
